[project]
	description = "SNMP example(C#)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prabel (prabel)
[access "refs/for/refs/*"]
	read = group user/Prabel (prabel)
	push = group user/Prabel (prabel)
	label-Code-Review = -2..+2 group user/Prabel (prabel)
	label-Verified = -1..+1 group user/Prabel (prabel)
	rebase = group user/Prabel (prabel)
	removeReviewer = group user/Prabel (prabel)
	submit = group user/Prabel (prabel)
[access "refs/heads/*"]
	read = group user/Prabel (prabel)
	create = group user/Prabel (prabel)
	push = +force group user/Prabel (prabel)
	pushMerge = group user/Prabel (prabel)
[access "refs/tags/*"]
	push = +force group user/Prabel (prabel)
	pushTag = group user/Prabel (prabel)
	pushSignedTag = group user/Prabel (prabel)
